@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вариант 3</h1>
    <h2 class="display=4">1. Создать веб-сервис, обеспечивающий поиск информации о том, студент является отличником/ударником/троечником/двоечником</h2>
    <h2 class="display=4">2. Создать веб-сервис, позволяющий вывести список специальностей и реализовать возможность изменения информации о них</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

